@font-face {
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;

    font-display: swap;
    src: url(https://fonts.gstatic.com/s/zenkakugothicantique/v15/6qLVKYkHvh-nlUpKPAdoVFBtfxDzIn1eCzpB22cM9TauMItwdlP0eiF9NCCYY662XlrPoX7MjA.2.woff2) format('woff2');

}

 body {
    font-family: 'Zen Kaku Gothic Antique';
} 

#ondulacao_verde{
    width: 100%;
    height: 500px;
    image-resolution: initial;
}

header {
    height: 500px;
}